autopep8==2.3.1
cycler==0.12.1
kiwisolver==1.4.8
matplotlib==3.10.0
numpy==2.2.1
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
Pillow==11.0.0
progressbar2==4.5.0
pycodestyle==2.12.1
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-utils==3.9.1
six==1.17.0
toml==0.10.2
