autopep8==1.7.0
cycler==0.12.1
kiwisolver==1.4.5
matplotlib==3.9.0
numpy==1.22.0
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
Pillow==10.3.0
progressbar2==3.55.0
pycodestyle==2.7.0
pyparsing==2.4.7
python-dateutil==2.9.0.post0
python-utils==2.5.6
six==1.16.0
toml==0.10.2
